 @media screen and (max-width:999px)
 {
    #container{
      width:905px;
      height:150px;
      display: flex;
      flex-wrap:none;
      gap:3px;
      position: absolute;
      left:0px;
      top:0px;
      background-color:orange;
    }
    #button-container{
        display:flex;
        gap:45px;
        position: absolute;
        left:45px;
        top:5px;
    }
    #rest{
      width:505px;
      height:20px;
      background-color: green;
    }
    body{
      background-color:green;
      overflow-x:hidden;
    }
    #op{
      position:absolute;
      left:75px;
      top:-5px;
      font-weight:bolder;
      font-size:35px;
      font-style:sans-serif;
      text-decoration:underline;
    }
    #bn{
      position:relative;
      top:80px;
      left:10px;
      width:120px;
      height:50px;
      border-radius:25px;
      font-size:20px;
      font-weight:bolder;
      border:2px solid black;
      color:white;
      background-color:black;
    }
    
    #image-containers{
      width:905px;
      height:0px;
      position: absolute;
      top:150px;
      left:15px;
      display: flex;
      flex-wrap:wrap;
      flex-direction:row;
      gap:5px
    }
    #image-container{
      width:230px;
      height:350px;
      position: relative;
      left:5px;
      top:15px;
      background-color:black;
      color:white;
      border-radius:15px;
    }
    #name{
      position:relative;
      top:50px;
      left:20px;
      font-size:25px;
    }
    #image{
      width:230px;
      height:200px;
      position:relative;
      top:0px;
      left:0px;
      border-radius:15px;
    }
}
    @media (min-width:1000px){
      
      
      #container{
      width:1740px;
      height:250px;
      display: flex;
      flex-wrap:none;
      justify-content: center;
      align-items: center;
      gap:15px;
      position: absolute;
      left:0px;
      top:0px;
      background-color:orange;
    }
    #rest{
      width:505px;
      height:20px;
      background-color: green;
    }
    body{
      background-color:green;
      overflow-x: hidden;
    }
    #op{
      position: absolute;
      top:0px;
      left:320px;
      font-weight:bolder;
      font-size:65px;
      font-style:sans-serif;
      text-decoration:underline;
    }
    #button-container{
        display:flex;
        gap:45px;
        position: absolute;
        left:95px;
        top:25px;
    }
    #bn{
      position:relative;
      top:150px;
      left:90px;
      width:220px;
      height:50px;
      border-radius:25px;
      font-size:30px;
      font-weight:bolder;
      border:2px solid black;
      color:white;
      background-color:black;
    }
    
    #image-containers{
      width:1300px;
      height:0px;
      position: absolute;
      top:290px;
      left:20px;
      display: flex;
      flex-wrap:wrap;
      flex-direction:row;
      gap:5px;
      background-color: red;
    }
    #image-container{
      width:430px;
      height:550px;
      position:relative;
      left:5px;
      top:3px;
      background-color:black;
      color:white;
      border-radius:15px;
    }
    #name{
      position:relative;
      top:5px;
      left:60px;
      font-size:45px;
    }
    #image{
      width:430px;
      height:400px;
      position:relative;
      top:0px;
      left:0px;
      border-radius:15px;
    }
    }
